<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" style="color: white">{{title}}
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/homePage">
          List Plans
        </a>
      </li>
    </ul>
</nav>
    
    <h1 align="center">Welcome to Tarangani Limited, ISP</h1>
    
    <h3 align="center">We offer very fast broadband with the use of Fiber Optic Connections</h3>
    <router-outlet></router-outlet>